[data-type="mie/image"] {
    display: flex;
}


.is-style-mietest1,
.is-style-mietest1 {
    border: 2px solid purple;
}

.preview__element {
    display: block;
    width: 240px;
    height: 140px;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.f6faGWIp8JlUX1mGQ4_XjQAAAA&pid=Api');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview__info {
    display: flex;
    padding: 10px;
}

.preview__element,
.preview__info {
    background-color: aliceblue;
    color: black;
}

/*  ***  */

.mei-no-sborder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}

.duotone-popover button .components-h-stack {
    flex-direction: row;
    align-items: center
}

.duotone-popover .components-circular-option-picker__custom-clear-wrapper {
    display: flex;
    justify-content: flex-end;
}