[data-type="mie/image"] {
    display: flex;
}


.is-style-mietest1,
.is-style-mietest1 {
    border: 2px solid purple;
}

.preview__element {
    display: block;
    width: 240px;
    height: 140px;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.f6faGWIp8JlUX1mGQ4_XjQAAAA&pid=Api');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preview__info {
    display: flex;
    padding: 10px;
}

.preview__element,
.preview__info {
    background-color: aliceblue;
    color: black;
}

/*  ***  */

.mei-no-sborder {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}

.duotone-popover button .components-h-stack {
    flex-direction: row;
    align-items: center
}

.duotone-popover .components-circular-option-picker__custom-clear-wrapper {
    display: flex;
    justify-content: flex-end;
}


.insert-link-popover__link {
    padding: 0 10px;
    width: max-content;
    display: flex;
    align-items: center;
    max-width: 200px;
}


/*  */

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}

/*  */
[data-type="mie/image"],
.mie-image-block {
    --bg-blend: multiply;
    --blur: 0px;
    --fg-blend: lighten;
    --opacity: 1;
    --spacing: 1%;
}
[data-type="mie/image"] {
    flex-direction: column;
}
[data-type="mie/image"] figure,
.img-wrapper {
    background-color: var(--base);
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}
[data-type="mie/image"] figure::before,
.img-wrapper::before {
    background-color: var(--foreground);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    mix-blend-mode: var(--fg-blend);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
[data-type="mie/image"] figure img,
.img-wrapper img {
    filter: grayscale(100%) contrast(1) blur(var(--blur));
    flex: 1 0 100%;
    height: 100%;
    max-width: 100%;
    mix-blend-mode: var(--bg-blend);
    object-fit: cover;
    opacity: var(--opacity);
    position: relative;
    width: 100%;
}
