/* Styles */

/* 
.block-editor-block-inspector .mie__row .components-base-control__field,
.block-editor-block-inspector .mie__row--no-bottom-margin .components-base-control__field {
    display: flex;
    justify-content: space-between;
}

.block-editor-block-inspector .mie__row--no-bottom-margin,
.block-editor-block-inspector .mie__row--no-bottom-margin .components-base-control__field {
    margin-bottom: 0px;
}

.block-editor-block-inspector .mie__image-dimensions {
    margin-bottom: 4px;
}

.block-editor-block-inspector .mie__image-dimensions__width {
    margin-right: 5px;
    margin-bottom: 0px;
}
.block-editor-block-inspector .mie__image-dimensions__height {
    margin-left: 5px;
    margin-bottom: 0px;
} */
